table.criteria tr.criterion {
    display:block;
    width:100% !important;   
}

table.criteria tr.criterion td.remark {
    display:block;
    float: left;
    line-height: 22px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95% !important;
  }
  
  table.criteria tr.criterion td.description {
    display:block;
    width: 100% !important;
    font-size: large;
    font-weight: bolder !important;
    line-height: 22px;
    background-color: lightgray;
    margin-bottom: 5px;
    margin-top:5px;
  }
  
  table.criteria tr.criterion td.levels {
    display:block;
    width: 100% !important;
  }
  
  table.criteria tr.criterion td.levels table {
    width: 95% !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  table.criteria tr.criterion .levels .level {  
    border: 1px solid darkgray;  
  }
  
  table.criteria tr.criterion .levels .level:last-of-type {  
    border: 1px solid darkgray;  
  }
  
  table.criteria tr.criterion .remark 
  {
    text-align: center;
  }
  
  table.criteria tr.criterion .remark textarea {
    width: 95%;  
    min-height: 180px;  
  }

  div:has(div.fpadextndtb) {
    height: 100px;

  }

  div.fpadextndtb {
    padding: 3px; 
    color:rgb(63, 63, 63); 
    background: rgb(203, 204, 204);
   }

  div.fpadextndtb .notificationarea {
    margin: 0px 5px;
    font-size: 9px;
    vertical-align: middle;
    line-height: 24px;
    background: rgb(229 229 229);
    padding: 0px 7px;
    border-radius: 5px;
  }
 
  div.fpadextei{
    font-size:9px;
    background: rgb(241 234 234);
    margin: 5px 0px !important;
    padding: 5px;
    border-radius: 5px;
  }